@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #e6e6fa;
}

header {
    width: 100%;
    height: 5rem;
    background-color: #2b2d42;
    box-shadow: 0 0 4px 2px #2b2d42;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    max-width: min(90%, 1400px);
    margin-inline: auto;

}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

.logo a {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #a0c2e2;
    text-decoration: none;
}

.logo span {
    color: #e31833;
}

.logo i {
    font-size: 2rem;
    color: #e31833;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 3rem;
    position: relative;
    z-index: 1001;

}

.nav-links li {
    list-style: none;
    position: relative;

}

.nav-links a {
    text-decoration: none;
    color: #a0c2e2;
    font-size: 1rem;
    font-weight: 600;
 }
.nav-links a:hover,
.nav-links a:focus {
    color: #e31833;
}

.nav-links .login {
    background-color: #e31833;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
}

.nav-links .login:hover {
    background-color: #8d99af;

}

.hamburger {
    display: none;
}

.hero {
    width: 100%;
    height: calc(100vh - 5rem);
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .hero-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.container .hero-content h1 {
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.container .hero-content h3 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 800;
    color: #a0c2e2;
    text-align: center;
}

.container .hero-content p {
    font-size: 1rem;
    line-height: 2;
    text-align: center;
    color: #8d99af;
}

.container .btn {
    background-color: #e31833;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.container .btn:hover {
    background-color: #8d99af;
}


/* About */
.about .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-block: 100px;
    background-color: rgba(75, 103, 156, 0.1);
    border-radius: 50px;
    padding: 0 20px;
}

.container .side-bar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.side-bar h2 {
    font-weight: 800;
    color: #e31833;
}

.side-bar p {
    font-size: 1rem;
    line-height: 1.5;
    color: #2b2d42;
}

.container .about-info {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.about-info h4 {
    font-weight: 800;
    color: #2b2d42;
    text-align: center;
}

.about-info p {
    font-size: 14px;
    line-height: 1.5;
    color: #2b2d42;
    text-align: center;
}

.about-info .btn {
    width: 50%;
    border-radius: 10px;
}

.about-info .about-images {
    width: 100%;
    height: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-images img {
    width: 30%;
    height: 300px;
    border-radius: 50px;
}

/* Services */
.services {
    width: 100%;
    height: 1000px;
    background-color: #2b2d42;
    display: flex;
    flex-direction: column;
}

.services .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.services h2 {
    font-weight: 800;
    color: #e31833;
    text-align: center;
}

.services h2 span {
    color: #a0c2e2;


}

.service-cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.service-cards .service-card {
    width: 500px;
    height: 250px;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(141, 153, 175, 0.1);
    border-radius: 50px;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.service-cards .service-card img {
    width: 50%;
    height: 100%;
    border-radius: 50px;

}

.service-card .service-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.service-cards .service-card h3 {
    font-size: 1rem;
    font-weight: 800;
    color: #a0c2e2;
    text-align: center;
}

.service-cards .service-card p {
    font-size: 14px;
    line-height: 1.5;
    color: #8d99af;
    text-align: center;
}

.service-cards .service-card .btn {
    border-radius: 8px;
    background: transparent;
    color: #e31833;
    border: 2px solid #a0c2e2;
    transition: 0.8s ease;

}

.service-cards .service-card .btn:hover {
    background-color: #e31833;
    color: #fff;
    border: none;
}

/* Reviews / Testimonials */
.reviews {
    width: 100%;
    height: 100vh;
    background-color: #8d99af;
    display: flex;
    flex-direction: column;
    margin-block: 100px 0;
}

.reviews .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.reviews h2 {
    font-weight: 800;
    color: #e31833;
    text-align: center;
}

.reviews h2 span {
    color: #a0c2e2;
}

.container .testimonial-cards {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.testimonial-cards .testimonial-card {
    width: 33%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #2b2d42;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.testimonial-card .testimonial-info {
    display: flex;
    gap: 1.5rem;
}

.testimonial-card .testimonial-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


.testimonial-card .customer-info {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.testimonial-info .customer-info h3 {
    color: #a0c2e2;
}

.testimonial-info .customer-info span {
    font-size: 16px;
    color: #8d99af;
}

.testimonial-card p {
    font-size: 20px;
    line-height: 1.5;
    color: #8d99af;
    padding: 0 20px;
}

.testimonial-card .rate {
    display: flex;
    gap: 5px;
    color: #e31833;
    font-size: 14px;
}

.dots {
    color: #e31833;
    cursor: pointer;
    font-size: 1rem;
}

/* Contact */
.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-block: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center/cover;
}

.contact h2 {
    color: #a0c2e2;
    font-weight: 800;
}

.contact h2 span {
    color: #e31833;
}

.form-map {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact .contact-form {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(160, 194, 226, 0.2);

}

.contact-form form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.contact-form form input {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
    background: #fff;
    color: #a0c2e2;
}

.contact-form form textarea {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
    background: #fff;
    color: #a0c2e2;
}

.contact-form form input:hover,
.contact-form form textarea:hover {
    border: 2px solid #e31833;
}

.contact-form form button {
    width: 50%;
    height: 50px;
    border-radius: 50px;
    text-transform: uppercase;
    border: none;
    background: #a0c2e2;
    color: #2b2d42;
    transition: 0.5s ease;
    font-weight: 800;
    padding: 10px;
}

.contact-form form button:hover {
    background: #e31833;
    color: #fff;
}

.map {
    width: 50%;
    height: 500px;
    background: #fff;
    border-radius: 10px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Footer */

footer {
    width: 100%;
    height: 100%;
    background-color: #2b2d42;

}

footer .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;



}

.container .footer-content {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

footer .container p {
    font-size: 16px;
    color: #8d99af;
    font-weight: 600;
}

footer .container p a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #e31833;
}

footer .container p a:hover {
    color: #a0c2e2;
}

footer .container ul {
    display: flex;
    gap: 1rem;
    align-items: center;
}

footer .container ul li {
    list-style: none;

}

footer .container ul li a {
    color: #a0c2e2;
    text-decoration: none;
    font-size: 1.5rem;

}


footer .container ul li a:hover {
    color: #e31833;
}

 
/* RESPONSIVE */

@media(max-width:768px) {

    .navbar {
        padding: 15px 0;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 10%;
        font-size: 2rem;
        color: #EBEBD3;
    }


    .nav-links {
        margin-top: 4rem;
        font-size: 1.5rem;
        width: 100%;
        flex-direction: column;
        gap: 2rem;
        font-weight: 800;
        position: fixed;
        top: 0;
        left: 0;
        height: 400px;
        padding: 10px 0;
        text-align: center;
        background-color: #2b2d42;
        transform: translateY(0%);
        transition: transform 0.3s;

    }

    .nav-links[data-visible="false"] {
        transform: translateY(-200%);
    }

    .hamburger i[data-visible="true"] {
        display: block;
    }

    .hamburger i[data-visible="false"] {
        display: none;
    }

    .hero {
        width: 100%;
        height: 100vh;
        align-items: center;
    }

    .container .hero-content {
        width: 100%;

    }

    .container .hero-content h2 {
        font-size: 1rem;

    }

    /*  about */
    .about .container {
        width: 100%;
        height: 100%;
        padding: 0;
        flex-direction: column;

    }

    .container .side-bar {
        width: 100%;
        height: 100%;

    }

    .container .about-info {
        width: 100%;
        height: 100%;
        padding: 20px 0;

    }

    .about-info .about-images {
        width: 100%;
        flex-direction: column;
    }

    .about-images img {
        width: 100%;
        height: 100%;
    }

    /* Services */
    .services {
        width: 100%;
        height: 100%;

    }

    .service-cards {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 20px 0;

    }

    .service-cards .service-card {
        width: 50%;
        height: 100%;
        flex-direction: column;
        gap: 10px;

    }

    .service-cards .service-card img {
        width: 100%;
    }

    .service-cards .service-card h3 {
        font-size: 1rem;
        font-weight: 800;
        color: #a0c2e2;
        text-align: left;
    }

    .service-cards .service-card {
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 10px;

    }

    .service-cards .service-card img {
        width: 100%;
    }

    /* Reviews */
    .reviews {
        width: 100%;
        height: 100%;

    }

    .container .testimonial-cards {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    .testimonial-cards .testimonial-card {
        width: 100%;
        height: 100%;
        padding: 10px 0;
 

    }
    .testimonial-card .testimonial-info {
         gap: 1rem;
    }
    .testimonial-info .customer-info h3 {
        font-size: 1rem;
    }

    .testimonial-info .customer-info span {
        font-size: 14px;
    }

    .testimonial-card p {
        font-size: 16px;

    }

    /* Contact */
    .contact {
        width: 100%;
        height: 100%;

    }

    .form-map {
        width: 100%;
        height: 100%;
        flex-direction: column;

    }

    .contact .contact-form {
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }

    .contact-form form button {
        width: 100%;
        height: 100%;

    }

    .map {
        width: 100%;
        height: 500px;

    }

    .map iframe {
        width: 100%;
        height: 100%;
    }

    /* Footer */
    footer {
        width: 100%;
        height: 100%;
        ;

    }

    footer .container {
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 10px;


    }

    .container .footer-content {
        flex-wrap: wrap;
        gap: 1rem;
    }

    footer .container p {
        font-size: 14px;
    }

    footer .container p a {
        font-size: 1rem;
    }
}