@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: lavender;
}

header {
    width: 100%;
    height: 5rem;
    background-color: #2b2d42;
    box-shadow: 0 0 10px 2px #2b2d42;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    max-width: min(90%, 1400px);
    margin-inline: auto;

}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

.navbar .logo a {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #a0c2e2;
    text-decoration: none;
}

.navbar .logo i {
    font-size: 2rem;
    color: #e31833;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 3rem;
    position: relative;
    z-index: 1001;

}

.nav-links li {
    list-style: none;
    position: relative;

}

.nav-links a {
    text-decoration: none;
    color: #a0c2e2;
    font-size: 1rem;
    font-weight: 400;
}

.nav-links a:hover {
    color: #e31833;

}

.nav-links .login {
    background-color:#e31833;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.nav-links .login:hover {
    background-color:#8d99af;
 
}

.hamburger {
    display: none;
}

.hero{
    width: 100%;
    height: calc(100vh - 5rem);
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero .container{
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
  }
 .container .hero-content{
    width: 80%;
      display: flex;
     flex-direction: column;
     gap: 1rem;
    align-items: center;
    justify-content: center;
    color: #fff;
 }
  .container .hero-content h1{
     font-weight: 800;
    text-transform: uppercase;
    text-align: center;
 }
  .container .hero-content h3{
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 800;
    color: #8d99af;
    text-align: center;
  }
  .container .hero-content p{
    font-size: 1rem;
    line-height: 2;
    text-align: center;
 }
 
  .container .btn{
    background-color: #e31833;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
     transition: background-color 0.3s;
  }
  .container .btn:hover{
    background-color: #8d99af;
    }






/* RESPONSIVE */

@media(max-width:768px) {

    .navbar {
        padding: 15px 0;
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 10%;
        font-size: 2rem;
        color: #EBEBD3;
    }


    .nav-links {
        margin-top: 4rem;
        font-size: 1.5rem;
        width: 100%;
        flex-direction: column;
        gap: 2rem;
        font-weight: 800;
        position: fixed;
        top: 0;
        left: 0;
        height: 400px;
        padding: 10px 0;
        text-align: center;
        background-color:#2b2d42;
        transform: translateY(0%);
        transition: transform 0.3s;

    }

    .nav-links[data-visible="false"] {
        transform: translateY(-200%);
    }

    .hamburger i[data-visible="true"] {
        display: block;
    }

    .hamburger i[data-visible="false"] {
        display: none;
    }
    .hero{
        width: 100%;
        height: 100vh;
        align-items: center;
    }
    .container .hero-content{
        width: 100%;
         
     }
    
      .container .hero-content h2{
        font-size: 1rem;
      
      }
}